*
{
    box-sizing: border-box;
}
body
{
    background: transparent linear-gradient(180deg, #8F90E2 0%, #8F90E2 0%, #5251D1 73%, #3B3BBB 100%) 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
.project
{
    position: absolute;
    top:65vh;
    left:10vw;
    padding: 10px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color:#1E0063;
    cursor: pointer;
}
.project-border
{
    position: absolute;
    top:64vh;
    left:9vw;
    border: #002479 solid 10px;
    height:80px;
    width:150px;
    opacity: 0.2;
    transition: 0.2s;
}
.project-border:hover
{
    width:400px;
}
.nav
{
    top:6vh;
    left:28vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-elements
{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-right: 70px;
    color: #EEEEEE;
    transition: 0.2s;
}
.nav-elements:hover
{
    transform: scale(1.3);
    color: #FFFFFF;
    cursor: pointer;
}
.nav-elements:first-child
{
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.reg
{
    top: 5.9vh;
    left: 80vw;
    padding: 15px 25px;
    height: 25px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 4px solid #6B007F;
    border-radius: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #6B007F;
    font-size: 20px;
    cursor: pointer;
}
.apogee
{
    top:35vh;
    left:10vw;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    font-family: 'BAHNSCHRIFT';
    font-weight: bold;
}
.innov
{
    top: calc(35vh + 50px);
    left:9vw;
    font-size: 80px;
    position: absolute;
    font-family: BAHNSCHRIFT;
    color: #ECECEC;
    text-shadow: -9px 9px 9px #1904313D;
    font-weight: bold;
}
@font-face {
    font-family: BAHNSCHRIFT;
    src: url("text/BAHNSCHRIFT.ttf");
}
.o
{
    display: inline-block;
    height: 75px;
    width: 77px;
    background-image: url("./Images/support/support.png");
    background-size: cover;
    transform: scale(1.2);
    transform: translate(-6px,12px) scale(1.2);
    transition: 0.2s;
}
.o:hover
{
    transform: translate(-6px,11px) scale(1.2) rotate(35deg);
}
.challenge
{
    top: calc(35vh + 130px);
    left: 22vw;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    font-family: 'BAHNSCHRIFT';
    font-weight: bold;
}
html,body {
    padding: 0;
    margin: 0;
}
#outer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absoulte;
    top:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent linear-gradient(180deg, #8F90E2 0%, #8F90E2 0%, #3B3BBB 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    transition:0.5s;
    transform: translateY(100vh);
}
.outer-active
{
    transform: translateY(0vh);
}
#cross
{
    position: absolute;
    top:  5vh;
    right: 5vh;
    transition: 0.5s;
}
.cross-active
{
    top:  5vh;
    right: 5vh;
}
#crossimg{
    height: 5vh;
    width: 5vh;
    transition: all 1.5s ease;
}
#crossimg:hover{
    transform: rotate(360deg);
    transition: all 1.5s ease;
}
#left{
    width: 4vw;
    height: 7vh;
    position: absolute;
    top: 49.5vh;
    align-items: center;
    justify-content: center;
    left: 5vw;
    transition: 0.5s;
}
.active
{
    top:49.5vh;
}
#left:hover > .back{
    opacity: 1;
    height: 4vh;
    width: 2vw;
    transform: translate(-0.7vw,0.5vh);
}
#left:hover > .dot1{
    opacity: 1;
    height: 4vh;
    width: 4vh;
    transform: translate(1vw,0.9vh);
}
#right{
    width: 4vw;
    height: 7vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 49.5vh;
    left: 90vw;
    transition: 0.5s;
}
#right:hover > .next{
    opacity: 1;
    height: 4vh;
    width: 2vw;
    transform: translate(1.5vw,0.5vh);
}
#right:hover > .dot2{
    opacity: 1;
    height: 4vh;
    width: 4vh;
    transform: translate(-1vw,0.9vh);
}
.next{
    height: 5vh;
    width: 3vw;
    color: white;
    opacity: 0.6;
    transition: all .5s ease;
}
.back{
    height: 5vh;
    width: 3vw;
    color: white;
    opacity: 0.6;
    transition: all .5s ease;
}
.dot1{
    height: 6vh;
    width: 6vh;
    position: absolute;
    left: -0.6vw;
    top: -0.4vh;
    opacity: 0.6;
    transition: all .5s ease;
}
.dot2{
    height: 6vh;
    width: 6vh;
    position: absolute;
    right: 0.4vw;
    top: -0.4vh;
    opacity: 0.6;
    transition: all .5s ease;
}
.carousal{
    width: 100%;
    padding: 30px 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.75s ease-in;
}
.page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
}
.box{
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
    background: #A49BF09E 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 20px #00000029;
    mix-blend-mode: overlay;
    border: 10px solid #FFFFFF;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.slider{
    text-align: center;
    margin: 10px 0;
}
.dot{
    width: 10px;
    height: 10px;
    border: 3.5px solid #ffffff;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    transition: 0.75s;
}