*
{
    box-sizing: border-box;
}
body
{
    background: transparent linear-gradient(180deg, #8F90E2 0%, #8F90E2 0%, #5251D1 73%, #3B3BBB 100%) 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
.project
{
    position: absolute;
    top:65vh;
    left:10vw;
    padding: 10px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color:#1E0063;
    cursor: pointer;
}
.project-border
{
    position: absolute;
    top:64vh;
    left:9vw;
    border: #002479 solid 10px;
    height:80px;
    width:150px;
    opacity: 0.25;
    transition: 0.2s;
}
.project-border:hover
{
    width:400px;
    opacity: 0.5;
}
.nav
{
    top:6vh;
    left:25vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-elements
{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-right: 70px;
    color: #EEEEEE;
    transition: 0.2s;
}
.nav-elements:hover
{
    transform: scale(1.3);
    color: #FFFFFF;
    cursor: pointer;
}
.nav-elements:first-child
{
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.reg
{
    top: 5.9vh;
    left: 83vw;
    padding: 15px 25px;
    height: 25px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 4px solid #6B007F;
    border-radius: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #6B007F;
    font-size: 20px;
    cursor: pointer;
}
.apogee
{
    top:35vh;
    left:10vw;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    font-family: 'BAHNSCHRIFT';
    font-weight: bold;
}
.innov
{
    top: calc(35vh + 50px);
    left:9vw;
    font-size: 80px;
    position: absolute;
    font-family: BAHNSCHRIFT;
    color: #ECECEC;
    text-shadow: -9px 9px 9px #1904313D;
    font-weight: bold;
}
@font-face {
    font-family: BAHNSCHRIFT;
    src: url("text/BAHNSCHRIFT.ttf");
}
.o
{
    display: inline-block;
    height: 75px;
    width: 77px;
    background-image: url("./Images/support/support.png");
    background-size: cover;
    transform: scale(1.2);
    transform: translate(-6px,12px) scale(1.2);
    transition: 0.2s;
}
.o:hover
{
    transform: translate(-6px,11px) scale(1.2) rotate(35deg);
}
.challenge
{
    top: calc(35vh + 130px);
    left: 22vw;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    font-family: 'BAHNSCHRIFT';
    font-weight: bold;
}
.background-common
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.background-home
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.path-4
{
    position: absolute;
    background-image: url("Images/Path%204.svg");
    top: -110px;
    right: -300px;
    height: 200vh;
    width: 54vw;
    background-size: contain;
    opacity: 0.5;
}
.path-2
{
    position: absolute;
    background-image: url("Images/Path%202.svg");
    background-size: cover;
    bottom: 0vh;
    right: -4vw;
    height: 190px;
    width: 89vw;
}
.ellipse-3
{
    position: absolute;
    background-image: url(Images/Ellipse%203.svg);
    background-size: contain;
    top: -16vh;
    right: -14vh;
    height: 50vh;
    width: 50vh;
    background-repeat: no-repeat;
    transform: scale(1.6);
}
.group-130
{
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    background-image: url("Images/Group%20130.svg");
    background-repeat: no-repeat;
    height: 10vh;
    width: 12vw;
}
.group-5
{
    position: absolute;
    bottom: 2vh;
    right: 35vw;
    background-image: url(Images/Group%205.svg);
    background-repeat: no-repeat;
    height: 2.2vh;
    width: 8vw;
    background-size: contain;
}
.autonomy
{
    position: absolute;
    bottom: 3vh;
    right: 53vw;
    background-image: url(Images/autonomy.png);
    background-repeat: no-repeat;
    height: 10vh;
    width: 8vw;
    background-size: contain;
    z-index: -1;
}
.Polygon-2
{
    position: absolute;
    bottom: 3vh;
    right: 88vw;
    background-image: url(Images/Polygon%202.svg);
    background-repeat: no-repeat;
    height: 8vh;
    width: 8vw;
    background-size: contain;
    z-index: -1;
}
.Polygon-1
{
    position: absolute;
    bottom: 48vh;
    right: 3vw;
    background-image: url(Images/Polygon%201.svg);
    background-repeat: no-repeat;
    height: 8vh;
    width: 100px;
    background-size: contain;
    z-index: -1;
    opacity: 0.8;
}
.repeat-grid-1
{
    position: absolute;
    top: -3vh;
    right: 39vh;
    background-image: url(Images/Repeat%20Grid%201.svg);
    background-repeat: no-repeat;
    height: 17vh;
    width: 100px;
    background-size: contain;
    z-index: -2;
}
.ellipse-2
{
    position: absolute;
    top: 24vh;
    right: 17vh;
    background-image: url(Images/Ellipse%202.svg);
    background-repeat: no-repeat;
    height: 3.5vh;
    width: 100px;
    background-size: contain;
    z-index: -2;
}
.ellipse-1
{
    position: absolute;
    top: 76vh;
    right: 32vh;
    background-image: url(Images/Ellipse%201.svg);
    background-repeat: no-repeat;
    height: 3.5vh;
    width: 30px;
    background-size: contain;
    z-index: -2;
}
.project-management
{
    position: absolute;
    top: 61vh;
    right: 15vh;
    background-image: url(Images/project-management.svg);
    background-repeat: no-repeat;
    height: 22.5vh;
    width: 104px;
    background-size: contain;
    z-index: -2;
}
.path-3
{
    position: absolute;
    background-image: url(Images/Path%202.svg);
    background-size: cover;
    top: -40vh;
    right: -28vw;
    height: 516px;
    width: 106vw;
    transform: rotateX(180deg);
    opacity: 0.8;
}