html,body {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: oldlace;
}
.outer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent linear-gradient(180deg, #8F90E2 0%, #8F90E2 0%, #3B3BBB 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.outerrectimg{
    display: none;
}
.cross{
    z-index: 20;
    position: absolute;
    top:  5vh;
    right: 5vh;
}
.crossimg2{
    display: none;
}
.toppathimg{
    display: none;
}
.bottompathimg2{
    display: none;
}
.background1{
    display: none;
}
.background2{
    display: none;
}
.next2{
    display: none;
}
.back2{
    display: none;
}
.traingle2{
    display: none;
}
.zigzag2{
    display: none;
}
.crossimg{
    height: 5vh;
    width: 5vh;
    transition: all .5s ease;
}
.crossimg:hover{
    transform: rotate(90deg);
    transition: all .5s ease;
}
.left{
    width: 4vw;
    z-index: 9;
    height: 7vh;
    position: absolute;
    top: 49.5vh;
    align-items: center;
    justify-content: center;
    left: 5vw;
}
.left:hover > .back{
    opacity: 1;
    height: 2vw;
    width: 2vw;
    transform: translate(-0.7vw,0.3vw);
}
.left:hover > .dot1{
    opacity: 1;
    height: 2vw;
    width: 2vw;
    transform: translate(1vw,0.5vw);
}
.right{
    width: 4vw;
    z-index: 9;
    height: 7vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 49.5vh;
    left: 90vw;
}
.right:hover > .next{
    opacity: 1;
    height: 2vw;
    width: 2vw;
    transform: translate(1.5vw,0.3vw);
}
.right:hover > .dot2{
    opacity: 1;
    height: 2vw;
    width: 2vw;
    transform: translate(-1vw,0.7vw);
}
.next{
    height: 2.5vw;
    width: 3vw;
    color: white;
    opacity: 0.6;
    transition: all .5s ease;
}
.back{
    height: 2.5vw;
    width: 3vw;
    color: white;
    opacity: 0.6;
    transition: all .5s ease;
}
.dot1{
    height: 3vw;
    width: 3vw;
    position: absolute;
    left: -0.6vw;
    top: -0.245vw;
    opacity: 0.6;
    transition: all .5s ease;
}
.dot2{
    height: 3vw;
    width: 3vw;
    position: absolute;
    right: 0.4vw;
    top: -0.245vw;
    opacity: 0.6;
    transition: all .5s ease;
}
.circle1{
    position: absolute;
    top: 30.185185vh;
    left: 8.75vw;
    width: 4.570637119113574vh;
    height: 4.570637119113574vh;
}
.circle2{
    position: absolute;
    top: 70vh;
    left: 75vw;
    width: 4.016620498614959vh;
    height: 4.016620498614959vh;
}
.circle3{
    position: absolute;
    top: 73vh;
    left: 87vw;
    width: 37vh;
    height: 37vh;
    opacity: 0.74;
}
.idealogo{
    position: absolute;
    top: 30vh;
    left: 96vw;
    width: 8vw;
    height: 13vh;
    opacity: 0.7;
}
.traingle{
    position: absolute;
    top: 90vh;
    left: 5vw;
    width: 3vw;
    height: 3vw;
}
.zigzag{
    position: absolute;
    top: 83vh;
    left: 17vw;
    width: 5vw;
    height: 1.5vw;
}
.rightpathimg{
    position: absolute;
    top: -10vh;
    left: 80vw;
    width: 40vw;
    height: 120vh;
}
.bottompathimg{
    z-index:1;
    position: absolute;
    top: 75vh;
    left: -3vw;
    width: 110vw;
    height: 50vh;
}
.carousal{
    width: 100%;
    z-index: 7;
    padding: 30px 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.75s ease-in;
}
.page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
}
.box{
    position: absolute; 
    transition: transform 0.5s ease-in;
    background: #A49BF09E 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 20px #00000029;
    mix-blend-mode: overlay;
    border: 10px solid white;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    display: flex;
    color: #ffffff;
}
.logo{
    position: absolute;
    display: flex;
    justify-content: center;
    top:0vh;
    height: 7.5vw;
    width: 60vw;
}
.download{
    background-color: #9128c4;
    top: 60vh;
    z-index: 1000;
    position: absolute;
    font-size: 3vh;
    line-height: 3vh;
    text-align: center;
    color: #0F1979;
    font-family: "Bahnschrift";
    padding-top: 5.5vh;
    width: 20vh;
    height: 14.5vh;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    opacity: 1;
}
.company{
    position: absolute;
    text-shadow: 5px 5px 10px #00000029;
    color: #0F1979;  
    font-family: "Bahnschrift";
    font-weight: bold;
    top: 10vw;
    font-size: 5vw;
    text-align: center;
}
.cash{
    position: absolute;
    text-shadow: 5px 5px 10px #00000029;
    color: #0F1979;  
    font-family: "Bahnschrift";
    font-weight: bold;
    top: 15vw;
    font-size: 2.5vw;
    text-align: center;
}
.d2c{
    position: absolute;
    text-shadow: 5px 5px 10px #00000029;
    color: purple;
    font-family: "Bahnschrift";
    top: 20vw;
    font-size: 2vw;
    text-align: center;
}
@media all and (max-width: 1000px){
    .company{
        font-size: 7vw;
    }
    .cash{
        top: 17vw;
        font-size: 4vw;
    }
    .d2c{
        top: 28vw;
        font-size: 3vw;
    }

} 
@media all and (max-width: 800px) 
{
    .company{
        font-size: 8vw;
        top: 8vw;
    }
    .cash{
        font-size: 4vw;
    }
    .d2c{
        font-size: 3vw;
    }
    .circle1{
        display: none;
    }
    .circle2{
        display: none;
    }
    .circle3{
        display: none;
    }
    .idealogo{
        display: none;
    }
    .rightpathimg{
        display: none;
    }
    .bottompathimg{
        display: none;
    }
    .bottompathimg2{
        z-index:1;
        position: absolute;
        top: 70vh;
        left: -3vw;
        width: 110vw;
        height: 50vh;
    }
    .dot1{
        display: none;
    }
    .dot2{
        display: none;
    }
    .back{
        display: none;
    }
    .next{
        display: none;
    }
    .zigzag{
        display: none;
    }
    .traingle{
        display: none;
    }
    .zigzag2{
        display: block;
        position: absolute;
        top: 94vh;
        left: 14vw;
    }
    .traingle2{
        display: block;
        position: absolute;
        top: 93vh;
        left: 83vw;
    }
    .box{
    position: absolute;
    height: 60vh;
    width: 75vw;
    border: none;
    background: none;
    box-shadow: none;
    }
    .outerrectimg{
        position: absolute;
        top: 20vh;
        left: 12.5vw;
        display: block;
        height: 60vh;
        width: 75vw;
    }
    .crossimg{
        display: none;
    }
    .crossimg2{
        display: block;
        position: absolute;
        top: 3vh;
        left: -10vw;
    }
    .bottompathimg2{
        display: block;
        position: absolute;
        height: 140vh;
        width: 400vw;
        top: 55vh;
        left:-220vw;
    }
    .toppathimg{
        display: block;
        position: absolute;
        height: 150vh;
        width: 200vw;
        top: -80vh;
        left:-45vw;
    }
    .background1{
        display: block;
        position: absolute;
        height: 150vh;
        width: 150vw;
        top: 50vh;
        left:-27vw;
        opacity: 0.5;
    }.background2{
        display: block;
        position: absolute;
        height: 150vh;
        width: 150vw;
        top: -120vh;
        left:-27vw;
        opacity: 0.5;
    }
    .back2{
        display: block;
        position: absolute;
        top: -2.5vh;
        height: 7vh;
        left: -5vw;
        
    }
    .next2{
        display: block;
        position: absolute;
        top: -3vh;
        height: 7vh;
        right: -5vw;
    }
    .logo{
        top: -3.75vw;
    }
    .download{
        position: absolute;
        background: none;
        height: 4vw;
        width: 50vw;
        top: 64vh;
        font-size: 3.2vw;
        color: oldlace;
        border: 2px oldlace solid;
        border-radius: 4vw;
        padding-top: 1.5vw;
        line-height: 2.7vw;
    }
}

